<!-- +++++ Post +++++ -->

	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="/assets/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
					<p><%=@post.created_at%> </p>
					<h4><%=@post.title%></h4>
					<!--<p><img class="img-responsive" src="/assets/blog01.jpg" alt=""></p>-->
					<p><%=@post.body%></p>
					<!--<p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p>-->
					<hr>
					<p><a href="/posts/index"># Back</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
